@charset "UTF-8";

.register-container {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  border-radius: 12px 0 0 12px;
  padding: 12px 36px;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.register-container .primary-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.section-container h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.section-container label {
  font-size: 1.35rem;
}

.register-form {
  width: 100%;
}

.register-form span {
  display: block;
}

.condition {
  color: #555;
  font-weight: 500;
  margin-top: 6px;
}

.username-existing {
  display: none;
}

.username-existing.active {
  display: block;
  color: #f00;
  font-weight: 600;
  margin-top: 4px;
}

.password-conditions span::before,
.username-condition::before {
  content: "➖ ";
}

.username-condition,
.password-conditions span {
  margin: 4px;
  color: #777;
  font-weight: 500;
}

.password-conditions span.active,
.username-condition.active {
  color: #0c0;
}

.password-conditions span.active::before,
.username-condition.active::before {
  content: "✔️ ";
}

button.active {
  background-color: #80f;
  opacity: 1;
  cursor: pointer;
}

button.active:hover {
  background-color: #60b;
}

@media (max-width: 1000px) {
  .register-container {
    height: 100%;
    margin: 0 12px 48px 12px;
    border-radius: 12px;
    box-sizing: border-box;
  }
}

@media (max-height: 800px) {
  .register-container {
    height: 100%;
  }
}
